* {
    box-sizing: border-box;
}
li { list-style: none }
html,body {
    margin: 0;
    font-family: Dotun, '돋움', "Apple SD Gothic Neo", Helvetica, sans-serif;
}
a {
    text-decoration: none;  /*기본 밑줄 제거*/
    color: black;
}
p {
    float: left;
}
img {
    height: 20px
}
header {
    margin: auto;
    width: 1160px;
    height: 160px;
    display: flex;
    align-items: cneter;  /*하위 요소들 수직 가운데정렬 */
    position: relative;
}
.SmallMenu {
    position:absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    text-align: right;
    margin-left: 5px;
    margin-top: 15px;
}
.main_logo {   /*메인로고이미지*/
    margin-top: 30px;
    margin-bottom: 30px;
    width: 225px;
    height: 55px;
}
fieldset {
    border: none;    /*기본 테두리 없애기*/
    
}
.main {
    display:flex;
    justify-content: center;
}
.serch {
    width: 520px;
    height: 50px;
    border: 2px solid #03cf5d;
    display: flex;
    align-items: center;
}
.serch_div {
    display: flex;
    align-items: center;
}
.serch_msg{
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
.serch input {
    flex: 9;
    height: 46px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    outline: none;
    font-size: 18px;
}
.serch button{
    flex: 1;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: #03cf5d;
    color: #ffffff;
}
header > nav {
    width: 100;
    height: 45px;
    position: absolute;
    bottom: 0;
}

/*nav*/

nav {
    height: 46px;
    border-top: 1px solid #f1f3f6;
    border-bottom: 1px solid #d1d8e4;
} /*흰색선*/
.nav_ul {
    width: 100%;
    height: 100%;
    margin-left: 160px;
    display:flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
.nav_ul ul > li > a > img {
   width: 44px;
   margin-right: 10px;
   position: relative;  /* 해당 요소가 배치되어야 할 곳을 기준으로 상하좌우로 지정한 값 만큼 떨어진다. */
   top: 5px;
   left: 4px;
   transform: scale(1.4);
}
.nav_ul .nav_ori ul > a > img {
    position: relative;
    top: 5px;    /*mail아이콘과 shoppinglive아이콘 두개 사이즈가 다르고 mail은 첫번째 있는 부분이므로 list에서 빼고 앵커이미지로만 하여 따로 지정 */
}
.more_ {
    font-size: 13px;
    color : rgb(83, 81, 81);
    display: inline;
    position: relative;
    top: -0.5px;
}
.nav_ul ul > li {
    display: inline-block;
    margin-left: 8px;
    

}
.nav_ul .nav_ori ul > li:nth-child(-n + 7) > a {
    color: #03cf5d;
}
.nav_ul .serch_set li a:link,
.nav_ul .serch_set li a:visited{
    font-size: 14px;
    color : rgb(83, 81, 81);
    margin-left: 18px;
    display: inline;
}
.more2{
    float: right;
    position: relative;
    top: 5px;
}

/*main*/

main {
    background: #f2f4f7;
    min-height: 700px;
}

/*footer*/
.f1 {
    background-color: #fafbfc;
}

.footer_ {
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    flex-direction: column;  /*밑으로 정렬*/
}


.footerinner span:hover, .footer_down span:hover {
    text-decoration: underline;
}

.footerinner img{
    height: 90px;
    width: 180px;
    padding: 0 10px;
    transition: transform 0.5s, opacity 0.5s;
}
.footerinner img:hover{
    opacity:0.7;
    transform: scale(1.1);
}

.footerinner {
    display: flex;
    flex-direction: row;
    float: left;
    width: 1150px;
    height: 140px;
    border-bottom: 1px solid #e4e8eb;
}
.footer_inner{
    font-size:12px;
    line-height: 150%;
    float:left;
    height: 150px;
    width: 350px;
    padding: 24px 0;
}
#inner2 {
    margin-left: 20px;
}
.footer_inner > a {
    float: left;
}
.footer_down{
    border-bottom: 1px solid #e4e8eb;
    height: 45px;
}
.footer_down1 {   
    font-size: 12px;
    font-weight: bold;
    float:left;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer_down2{
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right:15px;
    float:right;
}
.partner_box{
    font-size:13px;
    line-height: 18px;;
    padding-top:20px;
    padding-bottom:30px;
    border-bottom:  1px solid #dae1e6;
}
.partner_box span {
    display: inline-block;
    font-weight: bold;
    width: 60px;
}
.partner_box a{
    color:gray;
}
.partner_box a:hover{
    text-decoration:underline;
}
.partner a {
    margin-right:30px;
    margin-left:20px;   
}
.partner{
    width:70%;
    float:left;
    height: 25px;
}
.partner_box img{
    width: 120px;
    height: 50px;
    margin-right:50px;
    transform: scale(1.1);
}
#partner_id {
    margin-right: 2px;
}
.final{
    font-size:12px;
    line-height: 16px;
    color:#777;
    padding-bottom:80px;
    padding-top:20px;
}
.final a:hover{
    text-decoration:underline;
}
.final a{
    color:gray;
}
.final a:nth-child(5){
    font-weight: bold;
}
.final a:nth-child(n+2){
    margin-left: 10px;
}
.final a:last-child{
    font-weight: bold;
    color: black;
}